
html, body{
    height: 100vh;
    margin: 0;

}
.main_container{
    outline: blue solid 1px;
    height: 100vh;
    width: 100vw;
    display: flex;   
    padding-top: 15%;
    justify-content: center ;
}

.login_container{
    background-color: rgb(81, 255, 0);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    outline: rgb(234, 0, 255) solid 1px;
    height: 600px;
    max-width: 450px;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.input-box{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.remember_container{
    outline: rgb(52, 94, 52) solid 1px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.login_logo{
    outline: rgb(51, 51, 33) solid 1px;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}   

.login_btn {
    outline: rgb(13, 65, 13) solid 1px;
    margin-top: 10px;   
    display: flex;
    justify-content: center;             
}

.google{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.github{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.signup_container{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

button:hover{
    background-color: rgb(0, 0, 0, 0.8);
    animation-name: animate;
    animation-duration: 1s;
}

@keyframes animate {
    0% {
        transform: scale(1);
        background-color: rgb(0, 0, 0);
    }
    50% {
        transform: scale(1.1);
        background-color: rgba(71, 68, 68, 0.8);    
    }
    100% {
        transform: scale(1);
        background-color: rgb(87, 85, 85); 
    }
}

a {
    color: #007bff; 
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

section{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)),
    url('imgs/digital_art.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}