
html, body{
    height: 100vh;
    margin: 0;
}
.main_container{
    outline: blue solid 1px;
    height: 100vh;
    width: 100vw;
    display: flex;   
    padding-top: 8%;
    justify-content: center ;
}

.login_container{
    background-color: rgb(81, 255, 0);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    outline: rgb(234, 0, 255) solid 1px;
    height: 600px;
    max-width: 450px;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.input-box{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.remember_container{
    outline: rgb(52, 94, 52) solid 1px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


.login_logo{
    outline: rgb(51, 51, 33) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}   

.login_btn {
    outline: rgb(13, 65, 13) solid 1px;
    margin-top: 10px;   
    display: flex;
    justify-content: center;             
}

.google{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.github{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.signup_container{
    outline: rgb(27, 37, 27) solid 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}